<main>
  <!-- <app-table></app-table> -->
  <!-- <app-table-test></app-table-test> -->
  <app-map (onMapLoaded)="mapIsReady = true"></app-map>
  <app-data-table (onSelectionChange)="selectFestival($event)"
                  [mapIsReady]="mapIsReady"
                  (onSelectNewPlace)="newPoint($event)"
                  (onCancelLastSelect)="removeLastPoint()"
                  (onTurnSelectMapMode)="turnSelectMapMode($event)"
                  (onSaveFestival)="afterSaveFestival()"
                  (onRemoveFestival)="removePoint($event)"></app-data-table>
  <div class="circle"></div>
</main>