@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');

  a {
    color: mat.get-color-from-palette($primary-palette, '50-contrast');
    &:hover {
      color: deeppink;
    }
  }
  tr[mat-row].table-row {
    &:hover {
      background: whitesmoke;
    }
    &:active {
      background: #efefef;
    }
  }
  .select-place:hover {
    color: deeppink;
  }
  button.btn-table-controls {
    color: #b5b5b5;
    &:hover {
      color: mat.get-color-from-palette($primary-palette, 'A200');
    }
  }
  button.plus:hover {
    color: deeppink;
  }
}

@mixin typography($theme) {
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
