:host {
  position: absolute;
  bottom: 34%;
  left: 12%;
  right: 12%;
  display: block;
  height: 450px;
  overflow-y: scroll;
}

tr[mat-row] {
  &:hover {
    background: whitesmoke;
    cursor: pointer;
  }
  &:active {
    background: #efefef;
  }
}

a {
  text-decoration: none;
  &:hover {
    color: deeppink;
  }
}
