@import 'bootstrap/scss/mixins/breakpoints';
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

.logo {
  position: absolute;
  width: 66%;
  top: 20px;
  left: 34%;
  flex-grow: 1;
  text-align: center;
  white-space: nowrap;
  span {
    letter-spacing: 25px;
    text-transform: uppercase;
    opacity: 1;
    user-select: none;
    white-space: nowrap;
    font-size: 18px;
    animation: logo-text 8s ease-out;
    animation-fill-mode: forwards;
    @include media-breakpoint-down(md) {
      animation: none;
    }
    @include media-breakpoint-down(sm) {
      letter-spacing: 20px;
    }
  }
  @include media-breakpoint-down(lg) {
    top: 5px;
    left: 0;
    width: 100%;
  }
  @media (max-height: 700px) {
    display: none;
  }
}
mat-icon.eq {
  position: relative;
  top: 4px;
  width: 40px;
  animation: logo 0.8s ease-out;
  animation-delay: 7.5s;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translateX(40px);
  animation-timing-function: cubic-bezier(0, 0.83, 0.36, 0.94);
  @include media-breakpoint-down(md) {
    animation: none;
    transform: translateX(0px);
    opacity: 1;
  }
  svg {
    width: auto;
    height: auto;
    vertical-align: bottom;
  }
}
header {
  display: flex;
  padding: 10px 10px 10px 25px;
  @include media-breakpoint-down(lg) {
    padding: 60px 10px 10px 25px;
  }
  @include media-breakpoint-down(sm) {
    padding: 40px 10px 0px 5px;
  }
  @media (max-height: 700px) {
    padding: 0px 10px 0px 10px;
  }
}

@keyframes logo-text {
  0% {
    opacity: 0;
    letter-spacing: 60px;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    letter-spacing: 60px;
  }
  100% {
    opacity: 1;
  }
}
@keyframes logo {
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.top {
  display: flex;
  justify-content: space-between;
}
.left {
  display: flex;
  flex-grow: 1;
  // overflow-x: hidden;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
.right {
  position: relative;
  display: flex;
}

.date-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

mat-form-field.datepicker {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
section.middle {
  text-align: center;
}

main {
  overflow-y: auto;
  position: relative;
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 50px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
    border-radius: 50px;
  }
  &.disable {
    overflow-y: visible;
    &::after {
      z-index: 0;
      opacity: 1;
    }
  }
  &::after {
    z-index: -1;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    transition: opacity 0.4s;
  }
}
.date-chip {
  pointer-events: none;
  touch-action: none;
  @media (max-width: 575px), (max-height: 700px) {
    &:first-child {
      margin: 5px 0;
    }
    &:last-child {
      margin-bottom: 5px;
    }
  }
  &:not(:last-child) {
    margin-right: 10px;
    // @include media-breakpoint-down(md) {
    //   margin-right: 0;
    // }
  }
}

mat-row.mat-mdc-row {
  position: relative;
  flex-wrap: wrap;
  &:hover {
    cursor: pointer;
  }
  @media (max-width: 767px), (max-height: 700px) {
    padding-top: 10px;
  }
}

a {
  text-decoration: none;
}
.mat-mdc-header-cell {
  border: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  user-select: none;
  white-space: nowrap;
  @media (max-width: 767px), (max-height: 700px) {
    align-items: flex-start;
    &.mat-column-date {
      display: none;
    }
  }
}
.mat-mdc-header-cell,
.mat-mdc-cell {
  flex: 0 1 auto;
  &:first-of-type {
    @media (max-width: 767px), (max-height: 700px) {
      border-bottom: none;
    }
  }
}
.control {
  visibility: hidden;
  @media (max-width: 991px), (max-height: 700px) {
    visibility: visible;
  }
}

.mat-column {
  &-title {
    min-height: 60px;
    flex: 1 1 0;
    @media (max-width: 767px), (max-height: 700px) {
      min-height: auto;
      flex: 1 1 100%;
      padding-left: 20px;
    }
    @media (max-width: 575px), (max-height: 700px) {
      padding-left: 15px;
    }
  }
  &-date {
    flex: 1 0 50%;
    @media (max-width: 575px), (max-height: 700px) {
      flex-direction: column;
      align-items: start;
      padding-left: 10px;
    }
  }
  &-controls {
    flex: 0 0 auto;
    @media (max-width: 767px), (max-height: 700px) {
      padding: 0;
    }
  }
  &-edit {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    padding: 0;
    @media (max-width: 991px), (max-height: 700px) {
      height: auto;
      border: none;
    }
  }
}

form {
  padding: 0 10px;
  display: flex;
  flex-grow: 1;
  // color: #333;
  align-items: center;
  justify-content: center;

  & > * {
    margin-right: 10px;
  }
  @media (max-width: 991px), (max-height: 700px) {
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    & > mat-form-field {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
.inputs {
  &-title {
    flex-grow: 1;
    min-width: 150px;
  }
  &-place {
    flex-grow: 4;
  }
}
