:host {
  position: absolute;
  bottom: 34%;
  left: 5%;
  right: 5%;
  // display: block;
  height: 450px;
  border-radius: 20px 20px 0 0;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.top {
  display: flex;
  justify-content: space-between;
}
mat-chip-listbox.left {
  overflow-x: hidden;
  align-items: center;
}
.date-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

mat-form-field.datepicker {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
section.middle {
  background-color: #fafafa;
  text-align: center;
}
form.add-row {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & > * {
    margin-right: 10px;
  }
}
.inputs {
  &-title {
    flex-grow: 1;
    min-width: 150px;
    max-width: 350px;
  }
  &-place {
    flex-grow: 4;
  }
}

.right {
  position: relative;
  display: flex;
}

main {
  // height: 70%;
  overflow-y: auto;
}
.date-chip {
  margin-right: 10px;
}

tr[mat-row] {
  &:hover {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
}
