<header>
  <div class="logo">
    <span>space club</span>
    <mat-icon svgIcon="eq"
              class="eq"></mat-icon>
  </div>
  <div class="left">
    <mat-chip-listbox #dateChipListBox
                      selectable
                      multiple
                      (change)="filters = $event.value">
      <mat-chip-option *ngFor="let chip of CHIPS"
                       disableRipple
                       [value]="chip.value"
                       [selected]="selectedFilters.includes(chip.value)">
        {{chip.title}}
      </mat-chip-option>
      <mat-chip-option #dateRangeChip
                       [disabled]="!dateSortRangeValid"
                       removable
                       value="range">
        {{(dateSortRange.controls['start'].value | date:'d MMM yyyy') || 'начало' }} &mdash;
        {{(dateSortRange.controls['end'].value |
        date:'d MMM yyyy') || 'конец'}}
        <button matChipRemove
                class="date-range-chip-remove-btn"
                (click)="dateSortRange.reset()">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-option>
    </mat-chip-listbox>


  </div>

  <div class="right">
    <mat-datepicker-toggle matIconSuffix
                           [for]="picker">
    </mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
    <mat-form-field class="datepicker"
                    subscriptSizing="dynamic">
      <mat-date-range-input [formGroup]="dateSortRange"
                            [rangePicker]="picker">
        <input matStartDate
               formControlName="start"
               required>
        <input matEndDate
               formControlName="end"
               required>
      </mat-date-range-input>
    </mat-form-field>

  </div>

</header>
<section class="middle">
  <button #plus
          class="plus"
          *ngIf="!plus; else addForm"
          mat-icon-button
          (click)="add()"
          color="primary">
    <mat-icon svgIcon="plus"></mat-icon>
  </button>
  <ng-template #addForm>
    <ng-container
                  *ngTemplateOutlet="create_update_form; context: {$implicit: this.createUpdateForm, cancelFn: cancelAdding, saveFn: addNew, clearPlaceMapAction: onCancelLastSelect, updateMode: false}">
    </ng-container>
  </ng-template>
</section>
<main [class.disable]="plus">
  <mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="{{key}}"
                  *ngFor="let key of displayedColumns">
      <ng-container [ngSwitch]="key">
        <ng-container *ngSwitchCase="'title'">
          <mat-header-cell *matHeaderCellDef>{{titles[key]}} ({{dataSource.filteredData.length}})</mat-header-cell>
        </ng-container>
        <ng-container *ngSwitchCase="'date'">
          <mat-header-cell *matHeaderCellDef>{{titles[key]}}</mat-header-cell>
        </ng-container>
      </ng-container>
      <ng-container [ngSwitch]="key">
        <ng-container *ngSwitchCase="'title'">
          <mat-cell *matCellDef="let row"
                    [@editHide]="editableRow != row ? 'show' : 'hide'">
            <a [href]="row.website || '#'"
               [target]="row.website ? '_blank' : '_self'">{{row[key]}}
            </a>
          </mat-cell>
        </ng-container>
        <ng-container *ngSwitchCase="'date'">
          <mat-cell *matCellDef="let row"
                    [@editHide]="editableRow != row ? 'show' : 'hide'">
            <ng-container *ngIf="row[key] && row[key][0].start">
              <mat-chip disableRipple
                        class="date-chip"
                        *ngFor="let date of row[key]; let i = index">
                {{ date.start | date:'d MMM yyyy' }} &mdash; {{ date.end | date:'d MMM yyyy' }}
              </mat-chip>
            </ng-container>
          </mat-cell>
        </ng-container>
      </ng-container>
    </ng-container>

    <ng-container matColumnDef="controls">
      <mat-header-cell *matHeaderCellDef>&nbsp;</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <!-- <div class="btn-table-controls"
             [@editHide]="editableRow != row ? 'show' : 'hide'"> -->
        <button mat-icon-button
                class="control control-edit"
                (click)="edit($event, row)"
                [@editHide]="editableRow != row ? 'show' : 'hide'">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button
                class="control control-delete"
                (click)="delete($event, row)"
                [@editHide]="editableRow != row ? 'show' : 'hide'">
          <mat-icon>delete</mat-icon>
        </button>
        <!-- </div> -->
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef>&nbsp;</mat-header-cell>
      <mat-cell *matCellDef="let row"
                [@editView]="editableRow == row ? 'show' : 'hide'">
        <ng-container *ngIf="editableRow == row">
          <ng-container
                        *ngTemplateOutlet="create_update_form; context: {$implicit: this.createUpdateForm, cancelFn: cancelEditing, saveFn: update, row, updateMode: true, clearPlaceMapAction: onRemoveFestival}"></ng-container>
        </ng-container>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumnsWithControls"></mat-header-row>
    <mat-row class="table-row"
             *matRowDef="let row; columns: displayedColumnsWithControls;"
             (click)="selectRow(row)">
    </mat-row>

  </mat-table>
</main>

<ng-template #create_update_form
             let-formGroup
             let-cancel="cancelFn"
             let-save="saveFn"
             let-clearPlaceMapAction="clearPlaceMapAction"
             let-row="row"
             let-updateMode="updateMode">
  <form [formGroup]="formGroup"
        (ngSubmit)="save(formGroup.value, $event, row)">
    <mat-form-field class="inputs-title"
                    subscriptSizing="dynamic">
      <mat-label>Название</mat-label>
      <input #titleInput
             matInput
             formControlName="title">
      <button type="button"
              *ngIf="titleInput.value"
              matSuffix
              mat-icon-button
              (click)="createUpdateForm.controls['title'].reset()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="inputs-place"
                    subscriptSizing="dynamic">
      <mat-label>Место</mat-label>
      <input #placeInput
             matInput
             formControlName="place"
             placeholder="Ввести место или поставить точку на карту"
             [matAutocomplete]="pl">
      <mat-autocomplete #pl="matAutocomplete"
                        (optionSelected)="selectOption($event)">
        <mat-option *ngFor="let item of places | async;let i = index"
                    [value]="item.place"
                    id="{{i}}">
          {{item.place}}
        </mat-option>
      </mat-autocomplete>
      <button type="button"
              *ngIf="placeInput.value && !updateMode"
              matSuffix
              mat-icon-button
              (click)="clearPlaceField(clearPlaceMapAction)">
        <mat-icon svgIcon="close"></mat-icon>
      </button>
      <div #someDiv></div>
      <button *ngIf="!updateMode"
              #selectPointButton
              type="button"
              class="select-place"
              matSuffix
              mat-icon-button
              (click)="selectPoint($event, selectPointButton)">
        <mat-icon svgIcon="location"></mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field subscriptSizing="dynamic">
      <mat-date-range-input #dateRangeInput
                            formGroupName="date"
                            [rangePicker]="picker">
        <input matStartDate
               formControlName="start"
               placeholder="начнется">
        <input matEndDate
               formControlName="end"
               placeholder="закончится">
      </mat-date-range-input>
      <button type="button"
              matSuffix
              mat-icon-button
              (click)="createUpdateForm.controls['date'].reset()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-datepicker-toggle matIconSuffix
                             [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <button mat-icon-button
            class="save"
            [disabled]="createUpdateForm.invalid || saveButtonDisable">
      <mat-icon svgIcon="save"></mat-icon>
    </button>
    <button type="button"
            class="cancel"
            mat-icon-button
            (click)="cancel($event)">
      <mat-icon svgIcon="cancel"></mat-icon>
    </button>
  </form>

</ng-template>