@use '@angular/material' as mat;
@use './app/controller/table/data-table-theme.component' as data-table;

*,
:after,
:before {
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$deep-orange-palette),
      accent: mat.define-palette(mat.$deep-purple-palette),
      warn: mat.define-palette(mat.$pink-palette)
    ),
    typography: mat.define-typography-config(),
    density: -1
  )
);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$pink-palette),
      accent: mat.define-palette(mat.$purple-palette),
      warn: mat.define-palette(mat.$pink-palette)
    )
  )
);

@include mat.core();
@include mat.core-theme($light-theme);
@include mat.typography-hierarchy(mat.define-typography-config());

@include mat.button-theme($light-theme);
@include mat.table-theme($light-theme);
@include mat.paginator-theme($light-theme);
@include mat.form-field-theme($light-theme);
@include mat.input-theme($light-theme);
@include mat.checkbox-theme($light-theme);
@include mat.datepicker-theme($light-theme);
@include mat.chips-theme($light-theme);
@include mat.icon-button-theme($light-theme);
@include mat.icon-theme($light-theme);
@include mat.autocomplete-theme($light-theme);
@include mat.fab-theme($light-theme);
@include data-table.theme($light-theme);

@include mat.form-field-density(-3);
@include mat.input-density(-3);
@include mat.button-density(0);
@include mat.icon-density(-3);

@media (prefers-color-scheme: dark) {
  @include mat.core-color($dark-theme);
  @include mat.button-color($dark-theme);
  @include mat.table-color($dark-theme);
  @include mat.paginator-color($dark-theme);
  @include mat.form-field-color($dark-theme);
  @include mat.input-color($dark-theme);
  @include mat.checkbox-color($dark-theme);
  @include mat.datepicker-color($dark-theme);
  @include mat.chips-color($dark-theme);
  @include mat.icon-button-color($dark-theme);
  @include mat.icon-color($dark-theme);
  @include mat.autocomplete-color($dark-theme);
  @include mat.fab-color($dark-theme);
  @include data-table.dark-color($dark-theme);
}

.mat-mdc-table {
  background-color: transparent;
}

// --- data-table.component
div.right div.mat-mdc-form-field-flex {
  display: none;
}

.mat-mdc-form-field-icon-suffix {
  display: flex;
}

mat-chip-listbox > div.mdc-evolution-chip-set__chips {
  flex-flow: row nowrap;
}

mat-row {
  &:hover {
    & .btn-table-controls {
      visibility: visible;
    }
  }
  &.table-edit-row {
    height: 0;
  }
}

// data-table.component ---
